name: ci
on: [pull_request]
jobs:
  check-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: actions/setup-node@v6
        with:
          node-version: "24"
          cache: "yarn"
      - run: yarn install
      - run: yarn lint
