name: ci
on: [pull_request]
jobs:
  check-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: actions/setup-node@v6
        with:
          node-version: "24"
          cache: "yarn"
      - run: yarn install
      - run: yarn lint
